<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <%= form_for(@user) do |f| %>
          <div class="form-group m-b-20">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-9"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
